<template>
  <h1>Vue JS</h1>
  <!-- <Car /> -->
  <CarOptions />
  <hr />
  <CarComposition />
</template>

<script>
//import Car from "./components/Car.vue";
import CarComposition from "./components/CarComposition.vue";
import CarOptions from "./components/CarOptions.vue";


export default {
  components: {
    //Car,
    CarComposition,
    CarOptions,
  },
};
</script>

<style>
</style>
